body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

#auth-app {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#file-app {
  display: flex;
}

#file-action {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

#places-section {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: fit-content;
}

#place-actions-section {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#location-management-app {
  display: flex;
}

input,
button,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.info-message {
  display: none;
}

#message {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#message.visible {
  display: block;
  opacity: 1;
}
#send-feedback-btn,
#logout-btn {
  width: 100%;
  padding: 10px;
  background: #ff0037;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

#send-feedback-btn {
  background: #007bff;
}

#send-feedback-btn:hover {
  background: #0056b3;
}

#logout-btn:hover {
  background: #b40027;
}

#logout-btn:disabled {
  background: #333;
  cursor: not-allowed;
}

main {
  padding-top: 70px;
}

.navigation {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
  width: 98.5%;
  gap: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: space-around;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 2px solid #ccc;
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: #0056b3;
}

#profile-action {
  width: 600px;
  height: 485px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#avatar-action {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#location-action {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-app {
  display: flex;
  align-items: center;
}

#avatar-selection-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

#avatar-selection-modal .modal-body {
  max-height: 300px;
  overflow-y: auto;
}

#avatar-selection-modal .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#avatar-selection-modal .col-4 {
  flex: 0 0 30%;
}

#avatar-selection-modal img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#avatar-selection-modal .form-check-input {
  margin-top: 10px;
}

#avatar-selection-modal button {
  margin-top: 10px;
}

#photo-selection-modal .form-check-input {
  margin-top: 10px;
}

#photo-selection-modal button {
  margin-top: 10px;
}

#map-container {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

textarea {
  width: 97.3%;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  resize: vertical;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: #ffffff;
}
