body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

#auth-app {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#file-app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input,
button,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.info-message {
  display: none;
}

#message {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#message.visible {
  display: block;
  opacity: 1;
}

#logout-btn {
  width: 100%;
  padding: 10px;
  background: #ff0037;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#logout-btn:hover {
  background: #b40027;
}

#logout-btn:disabled {
  background: #333;
  cursor: not-allowed;
}

.navigation {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: #0056b3;
}

#profile-section {
  gap: 10px;
  margin-bottom: 20px;
}

#user-profile-app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#avatar-selection-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* По умолчанию скрыто */
}

#avatar-selection-modal .modal-body {
  max-height: 300px;
  overflow-y: auto;
}

#avatar-selection-modal .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#avatar-selection-modal .col-4 {
  flex: 0 0 30%;
}

#avatar-selection-modal img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#avatar-selection-modal .form-check-input {
  margin-top: 10px;
}

#avatar-selection-modal button {
  margin-top: 10px;
}

#map-container {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  display: none;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
